* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/background.jpg") fixed no-repeat;
  background-size: cover;
  height: 85vh;
}

li a:hover {
  background-color: rgba(222, 222, 222, 0.438);
  border-radius: 10px;
}

img {
  border-radius: 15px;
  outline: 1px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

html,
.container-fluid,
.row,
.col-2,
.col-10 {
  height: 100%;
  width: auto;
  color: white;
}

.glass-effect {
  backdrop-filter: blur(5px) brightness(50%) saturate(100%);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

header.glass-effect {
  backdrop-filter: blur(5px) brightness(100%) saturate(100%);
  background: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

td,
th {
  color: white;
}
